<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>College Search</title>
  </head>
  <style>
    .navbar{
      margin-bottom: 1%;
    }
    
  </style>
  {# <script>
    function getCollegeResults(){
      const requestedSchool = document.getElementById('searchInput').value;
      const apiKey = 'MnUaufQkXtASro2Exr2pidQCXJbx9wNWjBxsSf3g';
      const url = `https://api.data.gov/ed/collegescorecard/v1/schools?api_key=${apiKey}&school.name=${requestedSchool}&_fields=id,school.name,latest.admissions.admission_rate.overall,latest.admissions.sat_scores.midpoint.math,latest.admissions.sat_scores.midpoint.critical_reading,latest.admissions.sat_scores.midpoint.writing,latest.admissions.act_scores.midpoint.cumulative`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
      const result = data.results[0];
      const admissionRate = result['latest.admissions.admission_rate.overall'];
      const satMathMidpoint = result['latest.admissions.sat_scores.midpoint.math'];
      const satReadingMidpoint = result['latest.admissions.sat_scores.midpoint.critical_reading'];
      const satWritingMidpoint = result['latest.admissions.sat_scores.midpoint.writing'];
      const actCumulativeMidpoint = result['latest.admissions.act_scores.midpoint.cumulative'];
      document.getElementById("College").innerHTML = `The admission rate for ${requestedSchool} is ${admissionRate} <br />` + `The SAT score midpoint for Math is ${satMathMidpoint} <br />` + `The SAT score midpoint for Critical Reading is ${satReadingMidpoint} <br />` + `The SAT score midpoint for Writing is ${satWritingMidpoint} <br />` +`The ACT score midpoint (cumulative) is ${actCumulativeMidpoint}`;

     })
    .catch(error => console.error(error));

      }
  </script> #}

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="main.html">My Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>College Search</h1>
    <form action = "/get_school_data" method="post">
      <input type="searchInput" placeholder="Search..." id="searchInput" name="searchInput">
      <input type="submit" value="Request">
    </form>
    <h2>Results</h2>
    <ul>
      <li><a id="College">College Name 1</a></li>
      <li><a >College Name 2</a></li>
      <li><a href="#">College Name 3</a></li>
      <li><a href="#">College Name 4</a></li>
    </ul>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file">
        <br><br>
        <input type="submit" value="Upload">
      </form>
  </body>
</html>
